html {
    background: rgb(154, 190, 154);
}

#gridcontainer {
    display: grid;
    height: 600px;
    width: 600px;
    background: black;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(100%, -50%);
}

.gridStyle {
    background: white;
    border: 1px solid black;
}

.colorChange {
    background: rgb(219, 217, 110);
}